@charset "utf-8";

:root {
    --cor01: #2CA061;
    --cor02: #94E5B8;
    --cor03: #EBE5C5;
    --cor004: #063D1E;
}

body{
    background-color: var(--cor03);
    font-family: Arial, Helvetica, sans-serif;

}
* {
    margin: 0px;
    padding: 0px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor004));
    padding-top: 40px;
    text-align: center;
    color: white;
    min-height: 150px;
}

header h1 {
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

}
header p {
    text-align: center;
    padding: 10px 10px 30px 10px;
}

nav {
    background-color: #063D1E;
    padding: 10px;
    font-weight: bold;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px;

}
nav a:hover {
    background-color: #7cbd99;
    color: #063D1E;
    border-radius: 5px;
}

main {
    max-width: 800px;
    min-width: 350px;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    width: 5500px;
}
p {
    padding: 10px;
    text-indent: 15px;
    text-align: justify;
    line-height: 2em;
}
.video {
    background-color: #063D1E;
    display: flex;
    justify-content: center;

}
div {

}